/* General layouts reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game-area {
    width: 90vw;
    height: 90vh;
    border: 1px solid red;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#game-buttons-div {
    border: 1px solid red;
    background-color: white;
    margin-top: 14vh;
    height: 80vw;
    width: 80vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    /* display: none; */
}

.game-button {
    height: 45%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-button img {
    width: 90%;
    height:90%;
}

#html-button img, #node-button img {
    width: 80%;
    height: 80%;
}

#nav-bar {
    border: 1px solid red;
    width: 100vw;
    height: 6.5vh;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

#menu-icon {
    width: 6.5vh;
    height: 6.5vh;
    background-color: white;
    border: none;
}

#menu-icon img {
    width: 80%;
    height: 80%;
}

#python-head {
    border: 1px solid red;
    width: 50vw;
    height: 50vw;

}

#python-head img {
    width: 100%;
    height: auto;
}