

/* -----------------------  GENERAL LAYOUTS -----------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {max-width: 100%;}

button {
  border-radius: 0;
}



/* ----------------------- MOBILE VERSION -----------------------*/
html{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 300px;
  max-height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}


/* -----------------------  NAV BAR -----------------------*/

#nav-bar {
  width: 100%;
  height: 6vmax;
  padding: 0 10px;
  border: 1px solid black;
  background-color: rgb(60, 122, 245);
  display: flex;
  justify-content:space-between;
  align-items: center;
}


#lives {
  max-width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.heart {
  width: 30px ;
}

#title {
  width: 60%;
  text-align: center;
  font-size: 0.8rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 0.5em;
  /* position: absolute; */
  /* left: 50%;
  transform: translateX(-50%); */
  
}

.menu-icon {
  width:30px;
  max-height: 90%;
  border: none;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}



/* ----------------------- GAME AREA -----------------------*/

#game-area {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* .screen {
  width: 100vw;
  height: 93vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */

/* -----------------------  SHOW AND HIDE ELEMENT CLASSES -----------------------*/

.hidden {
  display: none;
}

.visible {
  display: block;
}
/* -----------------------  MENU AND PROMPTS -----------------------*/

.box-container {
  position: absolute;
  top: 25vh;
  z-index: 1000;
}

.menu {
  position: absolute;
  top: 13vh;
  z-index: 1000;
}

#menu-div {
  max-width: 90vw;
  min-height: 60vh;
  background-color: rgb(211, 204, 204);
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  /* gap: 3vh; */
}

#menu-div {
  div {
    font-size: 3vh;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid black;
    border-radius: 0.5vw;
    background-color: rgb(138, 138, 138);
    padding: 0.5vh 3vw;
    position: absolute;
    top: 4vw;
    right: 4vw;
  }

  p {
    font-size: 10vw;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 6vh;
  }

  button {
    font-size: 8vw;
    width: 80%;
    padding: 3vw 6vw;
    border: 1px solid black;
  }
}

.prompt-div {
  width: 90vw;
  height: 20vh;
  background-color: rgb(211, 204, 204);
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.prompt-div {
  p {
    font-size: 2.5rem;
    font-weight: bold;
  }

  button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
  }
}



.game-over {
  color: red;
}

.you-win {
  color: green;
}


/* -----------------------  ALLOW AND LOCK CLICK EVENTS CLASSES -----------------------*/

.clickable {
  pointer-events: visiblePainted;
}

.non-clickable {
  pointer-events: none;
}


/* -----------------------  GAME AREA ELEMENTS -----------------------*/


#answer-line {
  border: 1px solid red;
  margin-top: 10px;
  width: 60%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#verification {
  border: 2px solid green;
  /* width: 50%;
  height: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 1vh 0;
}

.verify {
  background-color: rgba(3, 229, 3, 0.53);
}

.game-button-icon {
  /* border: 1px solid red; */
  height: 100%;
  max-width: 20%;
  padding: 3px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.html-icon {
  width: 75%;
}


/* The cross that appears when you fail the sequence */

#cross {
  width: 10%;
  position: absolute;
}

#click-area-wrapper {
  position: relative;
  width: 85vw;
}

/* ----------------------- TUTORIAL TEXT BOXES -----------------------*/

#arrow {
  /* border: 2px solid red; */
  transform: rotate(340deg);
  position: absolute;
  top: 0;
  left: 60%;

  img {
    width: 35vw;
    height: 10vh;
    position: relative;
  }

  p {
    /* border: 2px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 2vh;
    width: 100%;
    height: 30%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 48%;
    left: 55%;
  }
}

.speech-bubble {
  /* border: 2px solid red; */
  position: absolute;
  top: -25%;
  left: 40%;

  img {
    z-index: 1;
    position: relative;
    width: 40vw;
    height: 11vh;
  }

  p {
    z-index: 2;
    text-align: center;
    width: 60%;
    font-size: 6vw;
    font-weight: bold;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#instructions2 {

  img {
    width: 48vw;
    height: 12vh;
  }

  p {
    color: rgb(189, 36, 36);
    width: 80%;
  }

}

#great,
#wrong {
  top: -10%;
  left: 50%;
}

#python-head {
  margin:auto;
  width: 80vmin;
  max-width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: url(/images/python-2.png) top / cover ; */
}

#python-eye {
  width: 4vw;
  height: 3vw;
  max-width: 12.8px;
  max-height: 9.6px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 7.5%;
  left: 42%;
  border-radius: 50%;
  border: 1px solid black;
  transition: opacity 1.3s;
}

/* -----------------------  TRANSITIONS CLASSES -----------------------*/

.calm {
  opacity: 0;
}

.rage {
  opacity: 0.7;
}

.attack {
  animation: attack 0.5s;
}

/* -----------------------  BITE ANIMATION -----------------------*/

/* The bite image */
#bite {
  width: 40%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  animation: grow 900ms;
  z-index: 3;
}

/* -----------------------  GAME BUTTONS -----------------------*/

#game-buttons-div {
  border: 2px solid black;
  background-color: white;
  width: 80vmin;
  height: 80vmin;
  max-height: 80vmin;
  max-width: 80vmin;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.game-button {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  /* pointer-events: none; */
}

.game-button img {
  width: 90%;
  height: 90%;
}

#html-button {
padding: 4%;
}

/* -----------------------  AVATARS -----------------------*/

#avatars {
  width: 90%;
  height: 20vh;
  margin: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#python {
  transform: scaleX(-1);
  z-index: 1;
}

#player {
  position: relative;
}


/* -----------------------  KEYFRAMES ANIMATIONS -----------------------*/

/* Animation for bite */
@keyframes grow {
  from {
    transform: translate(-70%, -20%) scale(1);
  }
  to {
    transform: translate(-50%, 30%) scale(3);
  }
}

/* Animation for the python avatar */
@keyframes attack {
  from {
    transform: translateX(0) scaleX(-1);
  }
  to {
    transform: translateX(75%) scaleX(-1);
  }
}



/* -----------------------  MEDIA QUERIES -----------------------*/

/* SMALL SIZE MOBILE PHONES */
@media (max-width: 480px) {
  /* Estilos para teléfonos pequeños */
}

/* SMALL SIZE MOBILE PHONES - LANDSCAPE MODE*/
 /* @media only screen and (min-width: 480px) and (orientation: landscape) {
  Estilos para teléfonos pequeños en modo apaisado

  .menu-icon {
    width: 5%;
  }

  #title {
    font-size: 2rem;
  }

  #answer-line {
    border: 1px solid red;
    position: absolute;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    width: 18%;
    height: 60vh;
    flex-direction: column;
    align-items: center;
  }

  #verification {
    height: 90%;
    width: 90%;
    gap: 10px 0;
    justify-content: space-around;
  }

  .game-button-icon {
    border: 1px solid red;
    max-width: 40%;
  }

  .html-icon {
    width: 75%;
  }
} */
/*
  #game-area {
    height: 80vh;
  }

  #game-buttons-div {
    height: 70vh;
    width: 70vh;
    top: 8vh;
  }

  #nav-bar {
    width: 100vw;
    border: none;
    background-color: transparent;
  }

  #menu-icon {
    width: 5vw;
    height: 5vw;
  }

  #lives {
    margin-left: 5vw;
    margin-top: 5vw;
  }

  #lives img{
    height: 100%;
  }

  #python-head {
    width: 75vh;
    height: 75vh;
    position: absolute;
    top: -10vh;
  }

  #avatars {
    width: 90%;
    height: 0vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 10vh;
  }

  #avatars div img {
    width: 30vh;
  }

  #python {
    transform: none;
  }

  #answer-line {
    position: absolute;
    top: 28vh;
    width: 75%;
    height: 0%;
    flex-direction: column;
    align-items: flex-end;
  }

  #cross {
    width: 6vh;
    height: 6vh;
  }

  .game-button-icon {
    width: 6vh;
    height: 6vh;
  }
} */

/* MEDIUM SIZE */
@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para MEDIUM SIZE */
}

/* MEDIUM SIZE TO LARGE - LANDSCAPE MODE */
@media only screen and (min-width: 641px) and (orientation: landscape) {
  /* Estilos para MEDIUM SIZE a grandes en modo apaisado */
}

/* SMALL TABLETS */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets pequeñas */
}

/* LARGE TABLETS */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos para LARGE TABLETS */
}

/* LANDSCAPE MODE TABLETS */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  /* Estilos para tablets en modo apaisado */
}

/* SMALL LAPTOPS */
@media (min-width: 1281px) and (max-width: 1440px) {
  /* Estilos para SMALL LAPTOPS */

}

/* LARGE LAPTOPS AND DESKTOP SCREENS */
@media (min-width: 1441px) {
  /* Estilos para laptops grandes y monitores de escritorio */
}













































































#dev {
  position: relative;
  z-index: 2;
}


#solitaire {
  width: 40%;
  position: absolute;
  top: 12%;
  left: 24%;
  z-index: 1;
}